body {
    background: url('it.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
    min-height: 100vh;
}
h1 {
    margin: 0;
}

section {
    padding: 20px;
    max-width: 600px;
    top: -100px;
    margin: 0 auto;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    align-items: start;
}

h2 {
    color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: transparent;
    backdrop-filter: blur(15px);
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.email,
.facebook{
    text-decoration: none;
    color: aqua;
}
.avt{
    position: relative;
    width: 340px;
    height: 340px;
    padding: 30px 20px;
    border-radius: 50%;
}
.BT{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}